:root {
    --pink: rgb(255, 222, 227);
}

* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
    font-size: 100%;

}

header{
    background-image: url("../images/darkbackground.jpg");
    display: flex;
    justify-content: space-between;
    color: var(--pink);
    font-size: 300%;
}

p {
    width: 100%;
    text-align: center;
    font-size: 130%;
    padding: 5%;
}

figure {
    display: flex;
    flex-wrap: wrap;
}

main {
    background-color: gray;
}

nav {
    width: 100%;
    display: flex;
    background-color: rgb(77, 77, 77);
    font-size: 130%;
    justify-content: flex-end;
    border-style: solid;
    border-color: black;
    padding: 10px;
}

.navbar {
    align-items: center;
    font-size: large;
}

.navlinks {
    list-style-type: none;
    display: flex;
    padding-left: 450px;
}
 
.nav-items {
    padding:  30px;
    color: var(--pink);
     
}

.bigpicture {
    width: 100%;
    height: auto;
    border: 10% var(--pink);
    border-style: double;
    opacity: 0.6;

}

.small-pics {
    width: 100%;
    height: auto;
    border: 10% var(--pink);
    border-style: double;
    opacity: 0.6;
}

.small-pics:hover {
    opacity: 1;
}
.bigpicture:hover {
    opacity: 1;
}

.text {
    font-size: 1rem;
    line-height: 2;
    padding: 0 1rem;
    height: 2rem;
    margin-top: -2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.788);
    position: relative;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.logo {
    width: 20%;
    height: auto;
    border: 10%;
    border-color: pink;
    border-style: double;

}
.sidebar {
    width: 40%;
    font-size: 200%;
    background-color: var(--pink);
    
}

.port-container {
    gap: 2%;
    display: flex;
    width: 100%;
}

.contactInfo {
    font-size: 130%;
}

footer{
    background-color: gray;
}

/* makes 2 columns */
@media screen and (max-width: 992px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
 /* makes 1 column */
  @media screen and (max-width: 768px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
