:root {
    --darkgreen: rgb(68, 99, 78);
    --dark: rgb(48, 48, 48);
    --light: rgb(156, 156, 156);
    --blue: rgb(18, 111, 165);
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav {
    width: 100%;
    display: flex;
    background-color: var(--dark);
    font-size: 130%;
    justify-content: flex-end;
    border-style: solid;
    border-color: var(--blue);
    padding: 10px;
}

header{
    background-image: url("../images/darkbackground.jpg");
    display: flex;
    justify-content: space-between;
    color: var(--light);
    font-size: 300%;
}

.sidebar {
    width: 150px;
    font-size: 32px;
}

main {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--light);
    padding: 10px;
}
.section-container {
    gap: 30px;
    display: flex;
    width: 100%;
}
.logo {
    max-height: 300px;
    border-radius: 20px;
    border-width: 10px;
    border-style: solid;
    border-color: var(--blue);
    padding: 10px;
    background-color: var(--light);
}

.navbar {
    align-items: center;
    font-size: large;
}
h2 {
    text-align: left;
}

.navlinks {
   list-style-type: none;
   display: flex;
   padding-left: 450px;
}

.nav-items {
    padding:  30px;
    color: var(--light);
    
}

.bigpicture {
    max-width: 60%;
    height: auto;
    opacity: 0.6;
    border: 8px;
    border-style: solid;
    border-color: var(--blue);
    border-radius: 20px;
}

.text {
    color: var(--blue);
    bottom: 10%;
    right: 80%;
    font-size: 150%;
    padding: 10px;
}

.small-pics {
    flex: 0 0 300px;
    max-width: 30%;
    border: 8px;
    border-color: aquamarine;
    opacity: 0.6;
    border-style: solid;
    border-color: var(--blue);
    border-radius: 20px;
}

.small-pics:hover {
    opacity: 1;
}
.bigpicture:hover {
    opacity: 1;
}

section h2 {
    display: flex;
    justify-content: flex-start;
}

section li {
    display: inline;
}
section li a {
    font-size: 25px;
    color: var(--dark);
}
footer{
    text-align: center;
    background-color: var(--light);
    justify-content: center;
    padding: 40px;
}

@media screen and (max-width:992){
    main div {
        width: 33%;
        height: auto;
        font-size: 50%;
    }
    .text {
        font-size: 50%;
    }

    nav {
        width: 50%;
    }
}
@media screen and (max-width:768){
    main div {
        width: 50%;
        height: auto;
    }
    .text {
        font-size: 50%;
    }
    .navbar {
        width: 20%;
    }
    img {
        width: 30%;
    }
     nav {
        width: 30%;
     }
}